<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>v9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6205E10F1ED3E0E000DD487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6205E1281ED3E0E100DD487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6205E1331ED3E0E100DD487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
